@model Blog.Entity.ViewModel.MakaleDetayViewModel
@{
    ViewBag.Title = "MakaleDetay";
}
<!-- page-intro start-->
<!-- ================ -->
@*<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Anasayfa</a></li>
                    <li class="active">MakaleDetay</li>
                </ol>
            </div>
        </div>
    </div>
</div>*@
<!-- page-intro end -->
<div class="container">
    <div class="row">
        <!-- main start -->
        <!-- ================ -->
        <div class="main col-md-8">
            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title">@Model.Makale.Title</h1>
            <!-- page-title end -->
            <!-- blogpost start -->
            <article class="clearfix blogpost full">
                <div class="blogpost-body">
                    <div class="side">
                        <div class="post-info">
                            <span class="day">@Model.Makale.CreatedDate.Day</span>
                            <span class="month">@Model.Makale.CreatedDate.ToString("MMMM") @Model.Makale.CreatedDate.Year</span>
                        </div>
                    </div>
                    <div class="blogpost-content">
                        <header>
                            <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">@(Model.Makale.User.Name + " " + Model.Makale.User.Surname)</a></div>
                        </header>
                        <div class="owl-carousel content-slider-with-controls">
                            <div class="overlay-container">
                                <img src="/images/@Model.Makale.Picture" alt="@Model.Makale.Title">
                                @*<a href="images/blog-1.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                            <div class="overlay-container">
                                <img src="/images/@Model.Makale.Picture" alt="@Model.Makale.Title">
                                @*<a href="images/blog-2.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                            <div class="overlay-container">
                                <img src="/images/@Model.Makale.Picture" alt="/images/@Model.Makale.Title">
                                @*<a href="images/blog-3.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                        </div>
                        <p>
                            @Html.Raw(Model.Makale.Content)
                        </p>
                    </div>
                </div>
                <footer class="clearfix">
                    <ul class="links pull-left">
                        <li><i class="fa fa-comment-o pr-5"></i> <a href="#">@Model.Makale.Comments.Count yorum</a> |</li>
                        <li><i class="fa fa-tags pr-5"></i> <a href="#">etiket @Model.Makale.Tags.Count</a></li>
                    </ul>
                </footer>
            </article>
            <!-- blogpost end -->
            <!-- comments start -->
            <div class="comments">
                @if (Model.Makale.Comments.Count == 0)
                {
                    <h2 class="title">Henüz yorum eklenmemiştir.</h2>
                }
                else
                {
                    <h2 class="title">@Model.Makale.Comments.Count yorum eklenmiştir.</h2>
                    foreach (var yorum in Model.Yorumlar)
                    {
                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img src="images/avatar.jpg" alt="avatar">
                            </div>
                            <div class="comment-content">
                                <h3>Yorum</h3>
                                <div class="comment-meta">By <a href="#">@(yorum.User.Name + " " + yorum.User.Surname)</a> | Today, 12:31</div>
                                <div class="comment-body clearfix">
                                    <p>@Html.Raw(yorum.Content)</p>
                                    <a href="blog-post.html" class="btn btn-gray more pull-right"><i class="fa fa-reply"></i> Cevapla</a>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- comment end -->
                }
            </div>
            <!-- comments form start -->
                @using (Html.BeginForm()) //postedilecekyer
                {
            <div class="comments-form">
                <h2 class="title">Yorum Ekle</h2>
                <div class="form-horizontal">
                    @Html.HiddenFor(model=>model.Makale.Id) @*makale idsini tutturmak için*@
                    <div class="form-group">
                        @Html.Label("Mesaj", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Yorum.Content, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Kaydet" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
                }
            <!-- comments form end -->

        </div>
        <!-- main end -->
    </div>
</div>
