@model Blog.Entity.Entity.Article
@{
    ViewBag.Title = "MakaleDetay";
}
<!-- page-intro start-->
<!-- ================ -->
@*<div class="page-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="index.html">Anasayfa</a></li>
                    <li class="active">MakaleDetay</li>
                </ol>
            </div>
        </div>
    </div>
</div>*@
<!-- page-intro end -->
<div class="container">
    <div class="row">
        <!-- main start -->
        <!-- ================ -->
        <div class="main col-md-8">
            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title">Makale Detayları</h1>
            <!-- page-title end -->
            <!-- blogpost start -->
            <article class="clearfix blogpost full">
                <div class="blogpost-body">
                    <div class="side">
                        <div class="post-info">
                            <span class="day">@Model.CreatedDate.Day</span>
                            <span class="month">@Model.CreatedDate.ToString("MMMM") @Model.CreatedDate.Year</span>
                        </div>
                    </div>
                    <div class="blogpost-content">
                        <header>
                            <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">@(Model.User.Name + " " + Model.User.Surname)</a></div>
                        </header>
                        <div class="owl-carousel content-slider-with-controls">
                            <div class="overlay-container">
                                <img src="/images/@Model.Picture" alt="@Model.Title">
                                @*<a href="images/blog-1.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                            <div class="overlay-container">
                                <img src="/images/@Model.Picture" alt="@Model.Title">
                                @*<a href="images/blog-2.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                            <div class="overlay-container">
                                <img src="/images/@Model.Picture" alt="/images/@Model.Title">
                                @*<a href="images/blog-3.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                        </div>
                        <p>
                            @Html.Raw(Model.Content)
                        </p>
                    </div>
                </div>
                <footer class="clearfix">
                    <ul class="links pull-left">
                        <li><i class="fa fa-comment-o pr-5"></i> <a href="#">@Model.Comments.Count yorum</a> |</li>
                        <li><i class="fa fa-tags pr-5"></i> <a href="#">etiket @Model.Tags.Count</a></li>
                    </ul>
                </footer>
            </article>
            <!-- blogpost end -->
            <!-- comments start -->
            <div class="comments">
                @if (Model.Comments.Count == 0)
                {
                    <h2 class="title">Henüz yorum eklenmemiştir.</h2>
                }
                else
                {
                    <h2 class="title">@Model.Comments.Count yorum eklenmiştir.</h2>
                    foreach (var yorum in Model.Comments)
                    {
                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img src="images/avatar.jpg" alt="avatar">
                            </div>
                            <div class="comment-content">
                                <h3>Yorum</h3>
                                <div class="comment-meta">By <a href="#">@(Model.User.Name + " " + Model.User.Surname)</a> | Today, 12:31</div>
                                <div class="comment-body clearfix">
                                    <p>@yorum.Content</p>
                                    <a href="blog-post.html" class="btn btn-gray more pull-right"><i class="fa fa-reply"></i> Cevapla</a>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- comment end -->
                }
            </div>
            <!-- comments form start -->
            <div class="comments-form">
                <h2 class="title">Yorum Ekle</h2>
                <form role="form" id="comment-form">
                    <div class="form-group has-feedback">
                        <label for="name4">Ekleyen</label>
                        <input type="text" class="form-control" id="name4" placeholder="" name="name4" required>
                        <i class="fa fa-user form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="subject4">Konu</label>
                        <input type="text" class="form-control" id="subject4" placeholder="" name="subject4" required>
                        <i class="fa fa-pencil form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="message4">Mesaj</label>
                        <textarea class="form-control" rows="8" id="message4" placeholder="" name="message4" required></textarea>
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                    </div>
                    <input type="submit" value="Kaydet" class="btn btn-default">
                </form>
            </div>
            <!-- comments form end -->

        </div>
        <!-- main end -->
    </div>
</div>
